{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sousproduit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousProduit.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sousProduit.titre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ sousProduit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sousproduit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sousproduit_edit', { 'id': sousProduit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
