{% extends 'base.html.twig' %}

{% block content %}
    <h1>Sousproduits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousProduit in sousProduits %}
            <tr>
                <td>{{ sousProduit.id }}</td>
                <td>{{ sousProduit.titre }}</td>
                <td>{{ sousProduit.prix }}</td>
                <td>
                    <ul>

                        <li>
                            <a href="{{ path('modify_sous_produit', { 'id': sousProduit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ajouter_sous_produit') }}">Create a new sousProduit</a>
        </li>
    </ul>
{% endblock %}
